<h1>Dashboard</h1>
<div class="ui-g">

    <table style="width:100%; text-align: center; border: 2px inset black">
        <tr>
            <th>ID</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Luminosidade</th>
            <th>Proximidade</th>
            <th>Temperatura</th>
            <th>Umidade</th>
        </tr>
        <tr *ngFor="let sensor of sensors">
            <td>{{sensor.id}}</td>
            <td>{{sensor.position.latitude}}</td>
            <td>{{sensor.position.longitude}}</td>
            <td>{{sensor.luminosity}}</td>
            <td>{{sensor.proximity}}</td>
            <td>{{sensor.temperature}}</td>
            <td>{{sensor.humidity}}</td>
        </tr>
    </table>
</div>

<router-outlet></router-outlet>